<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riskybusiness.riskybusinessmuseumapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".root.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".root.Activities.HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".root.Activities.QRScannerActivity"
            android:label="QRScannerActivity" >
        </activity>
        <activity
            android:name=".root.Activities.MultiChoiceActivity"
            android:label="@string/title_activity_multi_choice"
            android:parentActivityName=".root.Activities.HomePageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="riskybusiness.riskybusinessmuseumapp.root.Activities.HomePageActivity" />
        </activity>
        <activity
            android:name=".root.Activities.SingleAnswerActivity"
            android:label="@string/title_activity_single_answer"
            android:parentActivityName=".root.Activities.HomePageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="riskybusiness.riskybusinessmuseumapp.root.Activities.HomePageActivity" />
        </activity>
        <activity
            android:name=".root.Activities.MultiTouchActivity"
            android:label="MultiTouchActivity" >
        </activity>
        <activity
            android:name=".root.Activities.LanguageActivity"
            android:label="@string/title_activity_language"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".root.Activities.DataBaseImageTestActivity"
            android:label="@string/title_activity_data_base_image_test" >
        </activity>
        <activity
            android:name=".root.Activities.TrailResultActivity"
            android:label="@string/title_activity_trail_result" >
        </activity>
        <activity
            android:name=".root.Activities.BrowseQRCodesActivity"
            android:label="@string/title_activity_browse_qrcodes" >
        </activity>
        <activity
            android:name=".root.Activities.PictureQRQuestionActivity"
            android:label="@string/title_activity_picture_qrquestion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".root.Activities.PictureMultiChoiceActivity"
            android:label="@string/title_activity_picture_multi_choice" >
        </activity>
    </application>

</manifest>
